.loginForm {
	display: flex;
	flex-direction: column;
}

.loginFormInputField {
	margin: 1rem 0;
}

.loginFormSubmitButton {
	margin: 1rem 0 !important;
	padding: 1rem 0 !important;
	border-radius: 30px !important;
}
